:root {
    --primary-color: #003049;
    --secondary-color: #930707;
    --white: #ffffff;
    --spacing: 1rem;
    --icon-size: 2.5rem;
    --background-color: #ffffff8f;
}

body {
    margin: 0 auto;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

h1 {
    text-align: center;
    color: var(--white);
    background-color: var(--primary-color);
    margin: 0;
    padding: 1.5rem;
    border-bottom: var(--secondary-color) solid 1rem;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: var(--primary-color) solid 1rem;
}

.data, .weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data p, .weather p {
    margin: .5rem;
}

.data {
    border-bottom: solid 1px;
}

.weather img {
    width: 48px;
    height: auto;
    margin: 0.5rem 0;
}


footer {
    background: var(--primary-color);
    text-align: center;
    padding: 1rem;
    color: var(--white);
}