body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: #fff;
}

header {
    background-color: #3d405b;
    display: grid;
    grid-gap: 1rem;
    padding: 20px;
}

header,
main {
    margin: 0 auto;
}

main {
    max-width: 800px;
    text-align: center;
    color: #3d405b;
}

main h1 {
    margin-top: 1rem;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.active a {
    background-color: #ffffffe4;
    color: #3d405b;

}

nav a {
    color: #fff;
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: larger;
}

nav a:hover {
    background-color: #ffffffe4;
    color: #3d405b;
}

.navigation li {
    border-bottom: 1px solid #fff;
}

section {
    margin: 1rem auto;
    max-width: 960px;
    padding: 0.5rem;
}

.temples {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

.temples figure {
    margin: 0;
}

.temples img {
    width: 100%;
    height: auto;
    display: block;
}

.headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hamburgerBtn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
}

#hamburgerBtn .close {
    display: none;
}

.navigation {
    display: none;
}

.navigation.open {
    display: flex;
}

#hamburgerBtn.open .open {
    display: none;
}

#hamburgerBtn.open .close {
    display: inline;
}

figcaption {
    margin: .5rem;
}

footer {
    background-color: #3d405b;
    text-align: center;
    padding: 1rem;
    color: #fff;
}